body {
    margin: 0;
    width: 100%;
}

.dark {
    background: linear-gradient(60deg, #443D64, #6582C6);
}

.darkMode {
    background: linear-gradient(45deg, #1c2326, #353d43, #4a5359, #2f363a);
    color: floralwhite;
}

.darkMode .section1, .darkMode .section2, .darkMode .section3, .darkMode .section4 {
    background: linear-gradient(45deg, #2f353b, #4e5d63, #6b6f75, #363e43);
}

.details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 8rem);
    margin: 1.5%;
    width: 30%;
}

.light {
    background: linear-gradient(60deg, #f6fad9, #f88508);
}

.lightMode {
    background: linear-gradient(135deg, #FFFFFF, grey);
    color: black;
}

.lightMode .section1, .lightMode .section2, .lightMode .section3, .lightMode .section4 {
    background: linear-gradient(90deg, #D9D9D9, #F5F5F5);
}

.main-details {
    margin: 2%;
    width: 25%;
}

.main-details h1 {
    margin: 0;
    margin-left: 10%;

    font-size: 4rem;
    text-align: left;

}

.main-details img {
    height: 2rem;
}

.main-details p {
    margin: 0;
    margin-left: 10%;
    width: 100%;

    text-align: left;
}

.navbar {
    height: 20vh;
    padding-left: calc(var(--bs-gutter-x) * .5);
    padding-right: calc(var(--bs-gutter-x) * .5);
}

.search-container {
    position: relative;
    width: 40%;
}

.search-container i {
    position: absolute;
    left: 1.5%;
    top: 30%;

    color: grey;
}

.section1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
}

.section2 {
    display: flex;
    align-items: center;
    gap: 5%;
    width: 55%;
}

.section3 {
    display: flex;
    flex-direction: column;
    gap: 5%;
    width: 20%;
}

.section3 h1 {
    margin: 1.3rem 0 0;
    width: 100%;

    font-size: x-large;
    text-align: center;
}

.section3 img {
    height: 2rem;
}

.section4 {
    width: 65%;
}

.section4 h1 {
    width: 100%;

    font-size: 2rem;
    text-align: center;
}

.section4 img {
    height: 4rem;
}

.section4-container {
    display: flex;
    flex-direction: row;
    height: 79%;
    padding: 0 10%;
}

.section4-column {
    margin-left: 2%;
    width: 20%;

    border-radius: 30px;

    text-align: center;
}

.section4-column p {
    margin: 8%;
}

.section-down {
    height: 34vh;

    border-radius: 30px;
    box-shadow: 12px 12px 10px gray;
}

.section-up {
    height: 35vh;

    border-radius: 30px;
    box-shadow: 12px 12px 10px gray;

    font-size: 1.2rem;
    text-align: center;
}

.sections {
    display: flex;
    flex-wrap: wrap;
    gap: 10%;
    height: 80vh;
    padding: 1% 5%;
}

.toggle-container {
    height: 30%;
    width: 7rem;
}

.weather {
    margin: 1.5%;
    width: 25%;

    font-weight: bold;

}

.weather img {
    height: 10rem;
}

.weather p {
    margin-top: 0;
}

#click {
    position: absolute;
    margin-bottom: 5%;

    background-color: grey;
    border-radius: 34px;
    inset: 0;
}

#click::before {
    position: absolute;
    width: 25%;
    height: 80%;
    left: 4%;
    top: 10%;

    background-color: white;

    border-radius: 50%;

    content: "";
}

#humidity img, #wind img, #pressure img, #uv img {
    height: 4rem;
}

#humidity p, #wind p, #pressure p, #uv p {
    margin: 0;
    font-size: 15px;
}

#searchButton {
    padding: 10px;
    width: 20%;

    border: 2px solid black;
    border-radius: 30px;
}

#searchInput {
    padding: 10px 10px 10px 40px;
    width: 75%;

    border: 2px solid black;
    border-radius: 30px;
    box-sizing: border-box;
    outline: none;
}

#section3-row1, #section3-row2, #section3-row3 {
    display: flex;
    flex-direction: row;
    gap: 10%;
    height: 2rem;
    justify-content: center;
    margin-top: 6%;
}
.hidden{
    display: none;
}
#sunrise, #sunset {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10%;
}

#sunrise-text, #sunset-text {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
}


@media (max-width: 600px) {

    .details {
        grid-template-rows: repeat(2, 6.5rem);
        gap: .5rem;
    }

    #humidity p, #wind p, #pressure p, #uv p {
        font-size: 11px;
    }

    #humidity img, #wind img, #pressure img, #uv img {
        height: 3rem;
    }

    .main-details {
        font-size: 12px;
    }

    .main-details h1 {
        font-size: 2rem;
    }

    #mode {
        font-size: .7rem;
    }

    .sections {
        gap: 0;
        padding: 0;
        height: auto;
    }

    .section1, .section2, .section3, .section4 {
        width: 90%;
        margin-bottom: 5%;
    }

    .section3 {
        gap: 0
    }

    .section4-container {
        padding: 0;
    }

    .section4-column {
        font-size: 12px;
        width: 25%;
    }

    .section-up , .section-down{
        height: 30vh;
    }

    .section4 img {
        width: 3rem;
    }

    #searchInput {
        width: 61%;
        padding: 5px 5px 5px 20px;
    }

    #searchButton {
        width: 35%;
        padding: 5px;
    }

    .search-container {
        width: 55%;
        margin: .5rem auto;
    }

    .toggle-container {
        width: 15%;
    }

    .weather img {
        height: 5rem;
    }
}

@media (min-width: 601px) and (max-width: 705px) {

    .details {
        width: 38%;
        grid-template-rows: repeat(2, 5rem);
    }

    #humidity p, #wind p, #pressure p, #uv p {
        font-size: 10px;
    }

    #humidity img, #wind img, #pressure img, #uv img {
        height: 2rem;
    }

    .main-details {
        width: 40%;
        font-size: x-small;
    }

    .sections {
        gap: 0;
        padding: 5vh 0 0;
    }

    .section1, .section2 {
        font-size: 10px;
    }

    .section-up {
        height: 25vh;
        margin-bottom: 5%;
    }

    .section-down {
        height: 30vh;
        margin-bottom: 5%;
    }

    .section3 {
        width: 25%;
    }

    .section4-container {
        padding: 0;
    }

    .section4 {
        width: 70%;
    }

    .section4-column {
        font-size: small;
        width: 15%;
    }

    #section3-row1, #section3-row2, #section3-row3 {
        font-size: 12px;
    }

    .section4-container {
        padding: 0;
    }

    .section4-column {
        font-size: small;
    }

    .search-container {
        width: 60%
    }

    .weather {
        width: 10%;
    }

    .weather img {
        height: 3rem;
    }
}

@media (min-width: 705px) and (max-width: 849px) {
    .sections {
        gap: 0;
        padding: 0;
    }

    .section1 {
        font-size: 12px;
        width: 20%;
    }

    .section2 {
        width: 70%;
    }

    .section-up {
        height: 30vh;
    }

    #humidity p, #wind p, #pressure p, #uv p {
        font-size: 10px;
    }

    #humidity img, #wind img, #pressure img, #uv img {
        height: 3rem;
    }

    .weather img {
        height: 8rem;
    }

    #searchInput {
        width: 70%;
    }

    #searchButton {
        width: 27%;
    }

    .main-details {
        font-size: x-small;
    }

    .details {
        grid-template-rows: repeat(2, 6rem);
    }

    .section3 {
        width: 25%;
    }

    .section4-container {
        padding: 0;
    }

    .section4-column {
        font-size: small;
    }

    .search-container {
        width: 60%
    }
}

@media (min-width: 850px) and (max-width: 1012px) {

    .details {
        grid-template-rows: repeat(2, 7rem);
        font-size: small;
        width: 35%;
    }

    #humidity p, #wind p, #pressure p, #uv p {
        font-size: 12px;
    }

    #humidity img, #wind img, #pressure img, #uv img {
        height: 3.5rem;
    }

    .main-details {
        font-size: small;
        width: 30%;
    }

    .sections {
        gap: 4%;
        padding: 0;
    }

    .section1, .section2 {
        font-size: 14px;
    }

    .section3 {
        width: 25%;
    }

    .section4-container {
        padding: 0;
    }

    .section-up {
        height: 30vh;
    }

    .section-down {
        height: 30vh;
    }

    .weather {
        width: 16%;
    }

    .weather img {
        height: 5rem;
    }
}

@media (min-width: 1013px) {

    .main-details {
        font-size: medium;
    }

    .section1 {
        width: 25%;
    }

    .section2 {
        width: 65%;
    }
}
