body {
    width: 100%;
    margin: 0;
}

.navbar {
    height: 20vh;
    padding-right: calc(var(--bs-gutter-x)* .5);
    padding-left: calc(var(--bs-gutter-x)* .5);
}

.darkMode {
    color: floralwhite;
    background: linear-gradient(45deg, #1c2326, #353d43, #4a5359, #2f363a);
}

.darkMode .section1, .darkMode .section2, .darkMode  .section3, .darkMode  .section4
{
    background : linear-gradient(45deg, #2f353b, #4e5d63, #6b6f75, #363e43);
}

.lightMode {
    color: black;
    background: linear-gradient(135deg, #FFFFFF, grey);
}

.lightMode .section1, .lightMode .section2, .lightMode .section3,.lightMode .section4 {
    background : linear-gradient(90deg, #D9D9D9, #F5F5F5)
}

.toggle-container{
    width: 7rem;
    height: 30%;
}

.toggle {
    position: relative;
    width: 100%;
    height: 100%;
}

#toggleMode {
    opacity: 0;
}

#click {
    position: absolute;
    inset: 0;
    border-radius: 34px;
    background-color: grey;
    margin-bottom: 5%;
}

#click:before {
    position: absolute;
    content: "";
    top: 10%;
    left: 4%;
    height: 80%;
    width: 25%;
    border-radius: 50%;
    background-color: white;

}

#toggleMode:checked + #click {
    background-color: black;
}

#toggleMode:checked + #click:before {
    opacity: 0;
}

#toggleMode:checked + #click:after {
    position: absolute;
    content: "";
    top: 10%;
    right: 4%;
    height: 80%;
    width: 25%;
    border-radius: 50%;
    background-color: white;
}

.search-container {
    position: relative;
    width: 40%;
}

.search-container i {
    position: absolute;
    left: 1.5%;
    top: 30%;
    color: grey;
}

#searchInput {
    width: 75%;
    border-radius: 30px;
    box-sizing: border-box;
    border: 2px solid black;
    padding: 10px 10px 10px 40px;
    outline: none;
}

#searchButton{
    width: 20%;
    border-radius: 30px;
    border: 2px solid black;
    padding: 10px 10px;

}

.location-container {
    position: relative;
    width: 14%;
    height: 30%;
}

.location-container i {
    position: absolute;
    left: 7%;
    top: 30%;
    color: white;
    z-index: 2;
}

#location-button {
    position: absolute;
    background-color: green;
    font-weight: bold;
    border-radius: 30px;
    border: none;
    width: 100%;
    height: 100%;
    margin-left: 3% ;
    padding-left: 11%;
    text-align: center;
    z-index: 1;
}

.sections {
    display: flex;
    padding: 1% 5%;
    height: 80vh;
    flex-wrap: wrap;
    gap: 10%;
}

.section-up{
    border-radius: 30px;
    box-shadow: 12px 12px 10px gray;
    text-align: center;
    font-size: 1.2rem;
    height: 35vh;
}

.section-down{
    border-radius: 30px;
    box-shadow: 12px 12px 10px gray;
    height: 34vh;
}

.section1 {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section2 {
    width: 55%;
    display: flex;
    gap: 5%;
    align-items: center;
}

.section3 {
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 5%;
}

.section4 {
    width: 65%;
}



.main-details {
    margin: 2%;
    width: 25%;
}

.main-details h1 {
    font-size: 4rem;
    margin: 0;
    text-align: left;
    margin-left: 10%;
}

.main-details p {
    margin: 0;
    text-align: left;
    margin-left: 10%;
    width: 100%;
}

.main-details img {
    height: 2rem;
}

#sunrise, #sunset {
    margin: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

#sunrise-text, #sunset-text {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
}

.weather {
    margin: 1.5%;
    width: 25%;
    font-weight: bold;
}

.weather img {
    height: 10rem;
}
.weather p{
    margin-top: 0;
}

.details {
    width: 30%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 8rem);
    margin: 1.5%;
}

#humidity p, #wind p, #pressure p, #uv p {
    margin: 0;
    font-size: 15px;
}

#humidity img, #wind img, #pressure img, #uv img {
    height: 4rem;
}

.section3 h1 {
    width: 100%;
    text-align: center;
    margin: 1.3rem 0 0 0;
    font-size: x-large;
}

#section3-row1, #section3-row2, #section3-row3 {
    display: flex;
    flex-direction: row;
    gap: 10%;
    height: 2rem;
    margin-top: 6%;
    justify-content: center;
}

.section3 img {
    height: 2rem;
}

.section4-container {
    display: flex;
    flex-direction: row;
    padding: 0 10%  ;
    height: 79%;
}
.section4-column{
    border-radius: 30px;
    width: 20%;
    margin-left: 2%;
    text-align: center;
}

.light {
    background: linear-gradient(60deg, #F6FAD9,#F88508);
}

.dark{
    background: linear-gradient(60deg, #443D64,#6582C6);
}

.section4-column p{
    margin: 8%
}

.section4 h1{
    width: 100%;
    text-align: center;
    font-size: 2rem;
}

.section4 img{
    height: 4rem;
}

@media (max-width: 600px) {

    .sections{
        gap:0;
        padding:  0 ;
        height: auto;
    }
    #mode{
        font-size: .7rem;
    }
    .section3{
        gap:0
    }
    #searchInput{
        width: 61%;
        padding: 5px 5px 5px 20px;
    }
    #searchButton{
        width: 35%;
        padding: 5px;
    }
    #location-button{
    font-size: .7rem;
    }
    .toggle-container{
        width: 15%;
    }
    .search-container {
        width: 55%;
        margin: 0.5rem auto;
    }
    .location-container {
        width: 25%;
    }
    .section1, .section2, .section3, .section4 {
        width: 90%;
        margin-bottom: 5%;
    }
    .weather img{
        height: 5rem;
    }
    .main-details{
        font-size: 12px;
    }
    .main-details h1{
        font-size: 2rem;
    }
    .details{
        grid-template-rows: repeat(2, 6.5rem);
        gap: .5rem;
    }
    #humidity p, #wind p, #pressure p, #uv p {
        font-size: 11px;
    }
    #humidity img, #wind img, #pressure img, #uv img {
        height: 3rem;
    }
    .section4-container{
        padding: 0;
    }
    .section4-column{
        font-size: 12px;
        width: 25%;
    }
    .section-up{
        height: 30vh;
    }
    .section-down{
        height: 30vh;
    }
    .section4 img{
        width: 3rem;
    }
}

/* Планшети та невеликі екрани */
@media (min-width: 601px) and (max-width: 705px) {
    .sections{
        gap:0;
        padding: 5vh 0 0 0;
    }
    .section1, .section2 {
        font-size: 10px;
    }
    .section-up{
        height: 25vh;
        margin-bottom: 5%;
    }
    .section-down{
        height: 30vh;
        margin-bottom: 5%;
    }
    #humidity p, #wind p, #pressure p, #uv p {
        font-size: 10px;
    }
    #humidity img, #wind img, #pressure img, #uv img {
        height: 2rem;
    }
    .weather img {
        height: 3rem;
    }
    .section3 {
        width: 25%;
    }
    .section4-container {
        padding: 0;
    }
    .section4{
        width: 70%;
    }
    .section4-column{
        font-size: small;
        width: 15%;
    }
    .weather {
        width: 10%;
    }
    .main-details {
        width: 40%;
        font-size: x-small;
    }
    .details {
        width: 38%;
        grid-template-rows: repeat(2, 5rem);
    }
    #section3-row1, #section3-row2, #section3-row3 {
        font-size: 12px;
    }
    .section4-container {
        padding: 0;
    }
    .section4-column{
        font-size: small;
    }
    .location-container{
        font-size: 12px;
        width: 20%;
    }
    .search-container{
        width:60%
    }
}

/* Середні екрани */
@media (min-width: 705px) and (max-width: 849px) {
    .sections{
        gap:0;
        padding: 0;
    }
    .section1 {
        font-size: 12px;
        width: 20%;
    }
    .section2 {
        width: 70%;
    }
    .section-up{
        height: 30vh;
    }
    #humidity p, #wind p, #pressure p, #uv p {
        font-size: 10px;
    }
    #humidity img, #wind img, #pressure img, #uv img {
        height: 3rem;
    }
    .weather img {
        height: 8rem;
    }
    #searchInput{
         width: 70%;
     }
    #searchButton{
        width: 27%;
    }
    .main-details{
        font-size: x-small;
    }
    .details {
        grid-template-rows: repeat(2, 6rem);
    }
    .section3 {
        width: 25%;
    }
    .section4-container {
        padding: 0;
    }
    .section4-column{
        font-size: small;
    }
    .location-container{
        font-size: 12px;
        width: 20%;
    }
    .search-container{
        width:60%
    }
}

/* Великі екрани */
@media (min-width: 850px) and (max-width: 1012px) {
    .section1, .section2 {
        font-size: 14px;
    }
    #humidity p, #wind p, #pressure p, #uv p {
        font-size: 12px;
    }
    #humidity img, #wind img, #pressure img, #uv img {
        height: 3.5rem;
    }
    .weather{
        width: 16%;
    }
    .weather img {
        height: 5rem;
    }
    .main-details{
        font-size: small;
        width: 30%;
    }
    .details {
        grid-template-rows: repeat(2, 7rem);
        font-size: small;
        width: 35%;
    }
    .sections{
        gap:4%;
        padding: 0;
    }

    .section3 {
        width: 25%;
    }
    .section4-container {
        padding: 0;
    }
    .section-up{
        height: 30vh;
    }
    .section-down{
        height: 30vh;
    }
}

/* Дуже великі екрани */
@media (min-width: 1013px) {
    .section1 {
        width: 25%;
    }
    .section2 {
        width: 65%;
    }
    .location-container {
        width: 17%;
    }
    .main-details{
        font-size: medium;
    }
}
